@model IEnumerable<CategoryVM>

<table class="table-bordered eco-table-category-header">
    <colgroup>
        <col width="100" />
        <col width="100" />
        <col width="160" />
        <col width="80" />
        <col width="150" />
        <col width="150" />
        <col width="150" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Company)</th>
            <th>@Html.DisplayNameFor(x => x.ConditionType)</th>
            <th>@Html.DisplayNameFor(x => x.StrDate)</th>
            <th>@Html.DisplayNameFor(x => x.Qty)</th>
            <th>@Html.DisplayNameFor(x => x.LtDays)</th>
            <th>@Html.DisplayNameFor(x => x.UnitPrice)</th>
            <th>@Html.DisplayNameFor(x => x.SerialNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Comment)</th>
        </tr>
    </thead>
</table>

<div class="eco-scrollbar">
    <table class="table-bordered eco-table-category-content">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="160" />
            <col width="80" />
            <col width="150" />
            <col width="150" />
            <col width="150" />
            <col />
            <col width="85" />
        </colgroup>
        @foreach (CategoryVM vm in this.Model)
        {
            <tr id="@String.Concat("cat-", vm.Id)">
                <td>@Html.TextBox("Company", vm.Company, new { @readonly = true })</td>
                <td>@Html.TextBox("ConditionType", vm.ConditionType, new { @readonly = true })</td>
                <td>@Html.TextBox("StrDate", vm.StrDate, new { @readonly = true })</td>
                <td>@Html.TextBox("Qty", vm.Qty, new { @readonly = true })</td>
                <td>@Html.TextBox("LtDays", vm.LtDays, new { @readonly = true })</td>
                <td>@Html.TextBox("UnitPrice", vm.UnitPrice, new { @readonly = true })</td>
                <td>@Html.TextBox("SerialNumber", vm.SerialNumber, new { @readonly = true })</td>
                <td>@Html.TextBox("Comment", vm.Comment, new { @readonly = true })</td>
                <td>
                    <div class="text-left" style="float: left;">
                        <a href="#" data-cat="@vm.Id" class="eco-link-edit">
                            <i class="fa fa-edit fa-2x"></i>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#" data-cat="@vm.Id" class="eco-link-remove">
                            <i class="fa fa-remove fa-2x"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


<table class="table-bordered eco-table-category-add" style="margin-bottom: 40px;">
    <colgroup>
        <col width="100" />
        <col width="100" />
        <col width="160" />
        <col width="80" />
        <col width="150" />
        <col width="150" />
        <col width="150" />
        <col />
        <col width="55" />
    </colgroup>

    @{
        string dtNowStr = DateTime.Now.ToString("yyyy-MM-dd");
    }

    <tr>
        <th><input id="cat-company" placeholder="Company" /></th>
        <th>
            <select id="cat-condition-type" name="Condition">
                <option value="1" selected="selected">OH</option>
                <option value="2">SV</option>
                <option value="3">AR</option>
            </select>
        </th>
        <th><input type="text" name="input" id="cat-date" value="@dtNowStr" /></th>
        <th><input type="number" id="cat-qty" placeholder="QTY" /></th>
        <th><input type="number" id="cat-lt-days" placeholder="Lt days" /></th>
        <th><input type="number" id="cat-unit-price" placeholder="Unit price" /></th>
        <th><input id="cat-serial-number" placeholder="Serial number" /></th>
        <th><input id="cat-comment" placeholder="Comment" /></th>
        <th class="text-center">
            <a href="#" id="eco-link-add">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </th>
    </tr>
</table>

<script type="text/javascript">

    require(["jquery", "site/eco.site"], function (jQuery, site) {
        jQuery(function ($) {

            var cat = new site.Categories("eco-categories");
            cat.onEditCategory("eco-cat-table", "eco-link-edit", "fa-edit", "fa-save", "@this.Url.Action("SaveCategoryInfo", "Home")");
            cat.onAddCategoryData("eco-cat-table", "eco-link-add", "@this.Url.Action("SaveCategoryInfo", "Home")");
            cat.onDeleteCategory("eco-cat-table", "eco-link-remove", "@this.Url.Action("DeleteCategoryInfo", "Home")");

        });
    });

</script>

